.body, html { 
    height: 100%; 
    margin: 0; 
} 
.background-css
{
    background-image: url("https://images.pexels.com/photos/1431822/pexels-photo-1431822.jpeg?auto=compress&cs=tinysrgb&h=750&w=12600") !important; 
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 
}